.Header {
  border-width: 5px;
  border-color: black;
  border-style: double;
  margin: 2rem;
  padding: 1rem;
  display: grid;
  width: 95vw;
  height: 20vh;

  grid-template-areas: "title title login";
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.login {
  grid-area: login;
}

.articlepage {
  margin: 2rem;
  padding: 1rem;
}
